.pro1{
    border-radius: 12px;
    padding:12px;   
    font-size:20px;
}
.imgspace{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    margin-left: 100px;
}
.pro1:hover{
    height: 550px;
    width: 450px;
    background-color: white;
}
